@model IEnumerable<ToDoMVC.Models.Todo>

<div id="progressBarToDo">
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>    
</div>

<table class="table">
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.Concluido)
                {
                    @Html.DisplayFor(modelItem => item.Descricao)
                }
                else
                {
                <div class="CompletedToDO">@Html.DisplayFor(modelItem => item.Descricao)</div>
                }
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.Concluido, new { id = item.Id, @class = "ActiveCheck" })
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<script src="~/Custom_Scripts/AddCheckBoxListener.js"></script>

